name: test shell script
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  shellspec:
    name: runner / ShellSpec
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install latest shellspec
        run: curl -fsSL https://git.io/shellspec | sh -s -- --yes
      - name: Run shellspec
        run: shellspec
