name: test github action
on:
  push:
    branches:
      - main
  pull_request:
permissions: read-all
jobs:
  test-check:
    name: runner / Biome (github-check)
    runs-on: ubuntu-latest
    steps:
      - uses: GitHubSecurityLab/actions-permissions/monitor@v1
        with:
          config: ${{ vars.PERMISSIONS_CONFIG }}
      - uses: actions/checkout@v4
      - name: action-success-test
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          workdir: ./test
          reporter: github-check
          level: error
          filter_mode: nofilter
          fail_on_error: true
          biome_flags: testdata/ok/
      - id: action-failure-test
        name: action-failure-test
        uses: ./
        continue-on-error: true
        with:
          github_token: ${{ secrets.github_token }}
          workdir: ./test
          reporter: github-check
          level: error
          filter_mode: nofilter
          fail_on_error: true
          biome_flags: testdata/error/
      - name: check-failure
        if: steps.action-failure-test.outcome == 'success'
        run: exit 1

  test-pr-check:
    if: github.event_name == 'pull_request'
    name: runner / Biome (github-pr-check)
    runs-on: ubuntu-latest
    steps:
      - uses: GitHubSecurityLab/actions-permissions/monitor@v1
        with:
          config: ${{ vars.PERMISSIONS_CONFIG }}
      - uses: actions/checkout@v4
      - name: action-success-test
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          workdir: ./test
          reporter: github-pr-check
          level: error
          filter_mode: nofilter
          fail_on_error: true
          biome_flags: testdata/ok/
      - id: action-failure-test
        name: action-failure-test
        uses: ./
        continue-on-error: true
        with:
          github_token: ${{ secrets.github_token }}
          workdir: ./test
          reporter: github-pr-check
          level: error
          filter_mode: nofilter
          fail_on_error: true
          biome_flags: testdata/error/
      - name: check-failure
        if: steps.action-failure-test.outcome == 'success'
        run: exit 1

  test-pr-review:
    if: github.event_name == 'pull_request'
    name: runner / Biome (github-pr-review)
    runs-on: ubuntu-latest
    steps:
      - uses: GitHubSecurityLab/actions-permissions/monitor@v1
        with:
          config: ${{ vars.PERMISSIONS_CONFIG }}
      - uses: actions/checkout@v4
      - name: action-success-test
        uses: ./
        with:
          github_token: ${{ secrets.github_token }}
          workdir: ./test
          reporter: github-pr-review
          level: error
          filter_mode: nofilter
          fail_on_error: true
          biome_flags: testdata/ok/
      - id: action-failure-test
        name: action-failure-test
        uses: ./
        continue-on-error: true
        with:
          github_token: ${{ secrets.github_token }}
          workdir: ./test
          reporter: github-pr-review
          level: error
          filter_mode: nofilter
          fail_on_error: true
          biome_flags: testdata/error/
      - name: check-failure
        if: steps.action-failure-test.outcome == 'success'
        run: exit 1
